.cart-popup-container {
    background-color: #ffffff; /* רקע לבן בהיר */
    border: 1px solid #6c6a6a;
    border-radius: 12px;
    padding: 5px;
    max-width: 420px; /* חלון קטן יותר */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close-popup-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 25px; /* גודל קטן יותר */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-title {
    text-align: center;
    font-size: 28px; /* כותרת קטנה יותר */
    color: #333;
    margin-bottom: 24px;
}

.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.cart-item-row {
    display: flex;
    align-items: right;
    background-color: #f9f9f9;
    flex-direction: row-reverse;
    padding: 2px;
}

.cart-item-row img {
    width: 170px; /* תמונה קטנה יותר */
    height: auto;
    border-radius: 8px; /* עיגול פינות לתמונה */

}

.cart-popup-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 40px; /* גודל קטן יותר */
    color: #00796b;
}

.cart-popup-icons ion-icon:hover {
    color: #004d40;
    cursor: pointer;
}