.footer {
  background-color: #f8f9fa;
  padding: 30px 20px;
  direction: rtl;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #333;
 bottom: 0px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 180px;
}

.footer-category {
  font-weight: 600;
  font-size: 16px;
  color: #ef0404;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer-list li {
  text-decoration: none;
  color: #444;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

.footer-list li:hover {
  border-bottom: 1px solid #41a28d;
  color: #000;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 10px;
}

.footer-socials a {
  color: #666;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #9ad167;
}

.footer-copy {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}
