.product-content {
    display: grid;
    grid-template-columns: 90px 1fr auto; /* תמונה, טקסט, כפתורים */
    gap: 16px;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    direction: rtl;
}
/* לטפל בו סופיתתתת */
.close-button {
    cursor: pointer;
    color: #e53935;
    border: none;
    
    background: none;
}

.product-image-cart {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 8px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    font-family: 'Assistant', sans-serif;
}

.product-desc-cart {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.product-price {
    font-size: 16px;
    color: #e53935;
    font-weight: bold;
}

.product-total {
    font-size: 13px;
    color: #666;
    margin-top: 2px;
}
.product-quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}