.product-in-cart-container {
    display: flex;
    flex-direction: column;
    /* padding: 2px 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close-button {
    background: none;
    border: none;
    color: #ff6b6b;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 4px;
}

.product-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

.product-image img,
.product-image .img-component {
    width: 45vw;
    height: 50vh;
    border-radius: 6px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* margin-right: 5px; */
}

.product-details .product-desc-cart{
    font-size:15px;
    color: #333;
}

.product-price {
    color: #ff6b6b;
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 6px;
}

.product-button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.product-button:hover {
    background-color: #f0f0f0;
}

.quantity {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
