.product-in-cart-container {
    display: flex;
    flex-direction:  row-reverse;
    align-items: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    width: 100%;
    background-color: #ffffff; /* רקע לבן */
}

.close-button {
    background: none;
    border: none;
    color: #ff6b6b;
    font-size: 18px;
    align-self: flex-start;
    cursor: pointer;
}

.product-content {
    display: flex;
    flex-direction: row-reverse; /* כדי שהתמונה תהיה מימין והטקסט משמאל */
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
}


.product-image-cart {
    width: 3.5vw;
    height: 7vh;
    border-radius: 6px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.product-desc-cart {
    font-size: 15px;
    color: #333;
}

.product-price {
    color: #ff6b6b;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    height: 40px;
    width: 120px;
}
