.quantity-controls {
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  font-family: sans-serif;
  height: 40px;
  overflow: hidden;
}

.quantity-controls button,
.quantity-controls p {
  height: 100%;
  width: 45px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.quantity-controls button {
  background-color: #eeeeee;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.quantity-controls button:first-child {
  border-right: 1px solid #ccc;
}

.quantity-controls button:last-child {
  border-left: 1px solid #ccc;
}

.quantity-controls p {
  width: 45px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls button:hover:not(:disabled) {
  background-color: #e1734e;
}

.quantity-controls button:active:not(:disabled) {
  background-color: #dcdcdc;
}

.quantity-controls button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: not-allowed;
}
